@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Oxygen', sans-serif;
}

$primary-color: #434343;
$primary-background: #002329;
